:root {
  /*  Partie Couleur */
  --color--gris: rgba(192, 192, 192, 1);
  --color-bleu: #0470b0;
  --color-main: rgba(4, 112, 176, 1);
  --color-orange: rgba(244, 119, 73, 1);
  --color-blue-linair: linear-gradient(
    90deg,
    rgba(21, 147, 221, 1) 0%,
    rgba(4, 112, 176, 1) 100%
  );
  --color-white: rgba(255, 255, 255, 1);

  /* Radius , taille */
  --border-radius: 10px;
  --taille-w: 915px;
  --taille-2-h: 610px;

  --img-bcg: url(../assets/background-1.jpg);
}

:root {
  --font-family-title: "Lora", serif;
  --font-family-base: karla, sans-serif;
}

:root {
  --padding-sm: 0.625rem; /* 10px */
  --padding-md: 1.25rem; /* 20px */
  --padding-lg: 2.5rem; /* 40px */
  --padding-xl: 3.75; /* 60px */
  --padding-xxl: 5rem; /* 80px */
  
  --text-sm: 0.625rem; /* 10px */
  --text-md: 1.25rem; /* 20px */
  --text-lg: 2.5rem; /* 40px */
  --text-xl: 3.75; /* 60px */
  --text-xxl: 5rem; /* 80px */
}

/* General */

:root{
  --height-all:100%;
  --width-all:100%;
  --gap-all-sm:1rem;
  --gap-all-md:2rem;
}




/* Container  */

:root{


}

