@import url("reset.css");
@import url("configue.css");

/* Header  */
.header {
    display:flex;
    flex-direction: row;
    justify-content: start;
    background-color:var(--color-main);
    height: 121px;
    gap: 2rem;
}
.logo {
    display: flex;
    justify-content: flex-start;
    height:115px;
    width: 85px;
    background-color: var(--color-main);
} 
.nav{
    
}

.nav_list{
    display:flex;
    gap: 50%;
    justify-content: flex-start;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
   
    align-content: flex-start;
}
.aa{
    color: var(--color-white); 
    text-decoration: none; 
}







/* #titre {
font-size:larger;
} */
/* .logo {
    display: flex;
    justify-content:space-between;
    height:60px;
    width: 85px;
    background-color: var(--color-white);
} */

.Menu-link{


}

.ariane{

}

.indication{
font-size: smaller;
}

.nom{

}

.tel{

}

.mail{

}

.boxtext{

}

.valider{

}


