/* section */
@import url("components/bannermedia.css");
@import url("form.css");
h1{
    font-weight: bolder;
}
.formulaire{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    height: 100%;
    width: 700px;
}

.contact{
    display: flex;
    justify-content: center;
}


.liens {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.liens li + li:before {
    content: '>';
    padding: 0 5px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding:5%;
    border: 1px solid #dadada;

    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}



.valider{
    background-color: orangered;
    color: var(--color-white); 
}


.form-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 10px;
    gap: 5px;
}

.form-group .form-control {
    border: 1px solid #dadada;
    padding: 10px 15px;
    border-radius: 6px;
}

.form-group label {
    font-weight: bold;
}

.form-group.confident {
    flex-direction: row;
}
.btnshare{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.breadcrumbcontact{
    padding-bottom: 05%;
    display: flex;
    justify-content: flex-start;
    
}
.titre{
    display: flex;
    justify-content: center;
    font-weight: bolder;
    padding-bottom: 2%;
}
 .indication{
    padding-top: 2%;
    padding-bottom: 5%;
    padding-left: 2%;
  }
  .indication_text{
    padding-top: 1.5%;
  } 
 .label{
    padding-top: 2%;
    padding-bottom: 2%;
 }  