@import url("reset.css");
@import url("configue.css");
@import url("components/banner.css");
@import url("contact.css");
@import url("components/share.css");

/* header */

.header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  background-color: var(--color-main);
  height: 8rem;
  gap: 2rem;
}
.logo {
  display: flex;
  justify-content: center;
  height: 119px;
  width: 176px;
  background-color: var(--color-white);
}
nav {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 119px;
  width: 100%;
  color: var(--color-white);
}
.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  list-style: none;
}
.nav__list li a {
  text-decoration: none;
  color: var(--color-white);
  font-size: 1.2rem;
  font-weight: 600;
}

/* Titre + img  */
/* .image-header {
  width: 100%;
  height: 32rem;
}
.Titre-site {
  bottom: 30%;
  color: var(--color-white);
  font-size: 2rem;
  text-align: center;
  position: absolute;
}
div.titre {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
} */

/* Bloc main */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100%;
  width: 100%;
}

/* section */

section {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 100%;
}
/* img section */

section img {
  width: 100%;
  height: auto;
  margin-top: 2rem;
}
/* fil d'ariane */

.breadcrumb ul {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: flex-start;
}

.breadcrumb li:not(:last-child)::after {
  display: inline-block;
  margin: 0 0.25rem;
  content: "→";
}

/* sommaire */
.bloc-sommaire {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
  height: 100%;
  background-color: var(--color-bleu);
  border-radius: var(--border-radius);
  color: var(--color-white);
  padding: 2rem;
  font-size: 1.5rem;
}
.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ligne {
  background-color: var(--color-white);
  height: 1px;
  width: 8rem;
}
.btn-close {
  border-color: none;
  background-color: none;
  text-decoration: none;
  color: var(--color-white);
  font-size: 0.9rem;
}
.sommaire > li {
  font-size: 0.9rem;
  list-style: inside;
  text-decoration: none;
  color: var(--color-white);
  padding: -0.5rem;
  margin: 0.5rem;
  font-family: var(--font-family-base);
}
.sommaire > li a {
  text-decoration: none;
  color: var(--color-white);
}

/* Texte section  */

p.description-img {
  font-size: 1rem;
  text-align: start;
  font-family: var(--font-family-base);
}
.liste {
  font-family: var(--font-family-base);
  display: flex;
  flex-direction: column;
  font-size: var(--text-md);
  text-align: start;
  gap: 1rem;
}
.liste > li {
  list-style: inside;
  font-family: var(--font-family-base);
}
.text {
  font-size: 1.5rem;
  text-align: start;
  gap: 1rem;
}
.histoire > h2 {
  font-size: 1.5rem;
  font-family: var(--font-family-title);
  text-align: center;
}
div > p {
  font-size: 1rem;
  text-align: start;
  font-family: var(--font-family-base);
}
.termal > ul {
  font-size: 1rem;
  text-align: start;
  gap: 1rem;
  list-style: inside;
  font-family: var(--font-family-base);
}
div.description-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
font-family: karla, sans-serif;
}

/* La taille et le font ne veux pas ce mettre */




/* Formulaire */
.form-commentaire {

  border: 1px solid var(--color-gris);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  padding: 2rem;
}