@import url("reset.css");
@import url("configue.css");
@import url("components/banner.css");
@import url("contact.css");
@import url("components/share.css");
@import url("modifiers.css");
@import url("components/var-sharbtn.css");
@import url("components/list-article.css");
@import url("components/bloc-sommair.css");
@import url("components/form.css");
@import url("components/header.css");
@import url("components/locateus.css");
@import url("components/publications.css");
@import url("components/voyage.css");
/* Bloc Géneral balise */

/*  body, html, main, section, img, p, ul, li, div */

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-all-sm);
  height: var(--height-all);
  width: var(--width-all);
  @media (max-width: 480px) {
    font-size: 1rem;
  }
}

.container {
  width: 100%;
  padding: 0 60px 0 60px;
  margin: 0 auto;

  @media (max-width: 768px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.container.-article {
  max-width: 1000px;
}

.titre-global {
  font-size: 1.5rem;
  font-family: var(--font-family-titre);
  font-weight: var(--font-text-xxl);
  text-align: center;
  margin: 1rem 0 1rem 0;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* fil d'ariane */
.breadcrumb {
  margin-bottom: 1rem; /* todo */
}

.breadcrumb ul {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: flex-start;
  padding-bottom: 1rem;
}

.breadcrumb ul li + li:before {
  display: inline-block;
  margin: 0 0.25rem;
  content: "→";
}

.breadcrumb li a {
  color: black;
  text-decoration: none;
}

/* Carde guides
copier coller de l'autre 
*/
.bloc-voyage {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--color-orange);
  border-radius: var(--border-raduis-sm);
  color: var(--color-white);
  padding: 1rem;
  /* Le mettre a la taille du container sans le padding */
  gap: 0.657rem;
  width: 100%;

  @media (max-width: 480px) {
    font-size: 1rem;
  }
}

.title-toc .bloc-toc {
  display: flex;
  align-items: center;
  width: 100%;
}

.title-toc .bloc-toc:before {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background: #fff;
  margin-right: 30px;
}

/* Nos dérnières Publications 
fond bleu dégradé , titre un fin un peu plus gros que les autres
3 cards avec une image et un texte + un sowdaow 
*/

/* carosels 
4 img 
plus scroll bar
*/
div.card-titre p {
  font-size: xx-large;
  text-align: center;
  font-family: "Lora";
}
div.card-titre p.card-titre-1 {
  font-family: "karla", sans-serif;
}
.voyages {
  height: 832px;
  width: 100%;
  background-color: #f47749;
  font-family: var(--font-family-titre);
  color: var(--color-white);
}

div.card-descrition p {
  text-align: center;
}
