@import url(../styles.css);
.header {
  display: flex;
  width: calc(100%-40px);
  justify-content: space-between;
  background-color: var(--color-main);
  height: 70px;
  padding-right: 0 20px;
  align-items: center;
  top: 0;
  left: 0;
  @media (max-width: 480px) {
    height: 4rem;
  }
}
/* .logo {
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: var(--color-white);
  @media (max-width: 480px) {
    /* height: 3rem; */
.logo > img {
  height: 50px;
  width: 50px;
  background-color: var(--color-white);
}

/* Burger éléments  */

.header_nav_menu {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
.header_nav_menu_link {
  margin-right: 20px;
  padding-right: 10px;
}
.header_nav_menu_link:last-of-type {
  margin-right: initial;
}

.header_nav_menu_link a {
  color: var(--color-white);
  text-decoration: none;
  font-weight: 600;
}
.header_nav_menu_link a::after {
  content: " ";
  color: var(--color-white);
  height: 2px;
  width: 0;
  position: absolute;
  bottom: -1px;
  right: 0;
  transition: 0.2s ease-in-out;
}
.header_nav_menu_link a:hover::after {
  width: 100%;
  left: 0;
}

.header__burger {
  display: none;
}
.header__burger svg {
  stroke: var(--color-white);
  width: 22px;
  height: 22px;
}
.header_nav_close {
  display: none;
}
@media screen and (max-width: 600px) {
  .header__burger {
    display: block;
    cursor: pointer;
  }
  .header_nav_menu {
    flex-direction: column;
    align-items: flex-start;
    top: 0;
  }
  .header_nav {
    top: 0;
    right: 0;
    /* A voir avec laurent pour savoir si le z-index est une bonne idée */
    position: fixed;
    width: 300px;
    height: 100vh;
    z-index: 2;
    background-color: var(--color-main);
    display: flex;
    align-items: center;
    justify-content: center;

    display: none;
    transition: 0.3s transform ease-in-out;
  }
  @kayframe transformeMenu {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: initial;
    }
  }

  .header_nav.open {
    display: flex;
  }

  .header_nav_menu {
    flex-direction: column;
    align-items: flex-start;
  }
  .header_nav_menu_link {
    margin-bottom: 20px;
    margin-right: 0;
  }
  .header_nav_menu_link a {
    font-size: 25px;
  }
  .header_nav_close {
    display: block;
    cursor: pointer;
  }
  .header_nav_close svg {
    stroke: var(--color-white);
    width: 22px;
    height: 22px;
    position: absolute;
    top: 16px;
    right: 16px;
  }
  .overlay-menu-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.315);
    z-index: 1;

    /* Mon overlay va dans sur tout la nav */
  }
}
